@use "table.scss";
@use "variaveis.scss" as *;

:host {
  display: flex;
  justify-content: space-between;

  ::-webkit-scrollbar {
    width: 7px;

    &-thumb {
      background-color: rgba($cor-primaria, 0.2);
      border-radius: 10px;
    }

    &-track {
      background: transparent;
    }
  }

  .right-panel {
    height: 100vh;
  }

  .list {
    width: 100%;
    padding: 0 50px;
    padding-bottom: 20px;
    overflow-y: scroll;
    max-height: 100vh;
  }
}
