@use "variaveis.scss" as *;

.container {
  align-items: center;
  cursor: pointer;
  padding: 5px 0;

  &:hover {
    background-color: $branco;
  }

  img {
    width: 40px;
    border-radius: 50%;
  }

  span {
    color: $preto-transparente-70;
    flex-grow: 1;
    margin-left: 10px;
    font-weight: 600;
    font-size: 0.85rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
